@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFFFFF;
  --inverted-background-color: #0B0B0B;

  --text-color: #272727;
  --text-color-alt: #595959;
  --inverted-text-color: #FFFFFF;
  --inverted-text-color-alt: #979797;

  --accent-color: #573BC7;

}
